body {
  font-family: 'CaslonAntique';
  background-image: url("./assets/Background_murray.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'CaslonAntique';
  src: url('./assets/efmi.TTF');
}

.Page {
  font-family: 'CaslonAntique';
}