body {
  margin: 0;
  font-family: 'CaslonAntique';
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'CaslonAntique';
  src: url('./assets/efmi.TTF');
}

.Page {
  font-family: 'CaslonAntique';
  background-image: url("./assets/background.png");
}

.Buttons {}